@mixin page-style( $properties ) {
  @each $color, $value in $page-style-colors {
    .style-#{$color} & {
      @each $property in $properties {
        #{$property}: $value;
      }
    }
  }
}

@mixin page-style-light( $properties ) {
  @each $color, $value in $page-style-colors {
    .style-#{$color} & {
      @each $property in $properties {
        #{$property}: rgba($value, 0.075);
      }
    }
  }
}

@mixin page-style-medium( $properties ) {
  @each $color, $value in $page-style-colors {
    .style-#{$color} & {
      @each $property in $properties {
        #{$property}: rgba($value, 0.5);
      }
    }
  }
}
