@mixin make-grid() {
  position: relative;
  overflow: hidden;

  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-up(md) {
    @include make-col(4);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(3);
  }
}

@mixin make-grid-one() {
  position: relative;
  overflow: hidden;

  @include make-col-ready();
  @include make-col(12);
}

@mixin make-grid-two() {
  position: relative;
  overflow: hidden;

  @include make-col-ready();
  @include make-col(12);

  margin-bottom: $grid-gutter-width;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;

    @include make-col(6);
  }
}

@mixin make-grid-three() {
  position: relative;
  overflow: hidden;

  @include make-col-ready();
  @include make-col(12);

  margin-bottom: $grid-gutter-width;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;

    @include make-col(4);
  }
}
