@mixin bg-cover() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@mixin translateY($value) {
  transform: translateY($value);
}

@mixin translateX($value) {
  transform: translateX($value);
}

@mixin translateXY($valueX, $valueY) {
  transform: translate($valueX, $valueY);
}

@mixin truncate-ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin break-word() {
  word-wrap: break-word;
  white-space: normal;
}

@mixin break-all() {
  word-break: break-all;
  white-space: normal;
}

@mixin remove-last-p-margin($margin-top: $paragraph-margin-bottom) {
  p {
    margin-bottom: 0;

    + p {
      margin-top: $margin-top;
    }
  }
}

@mixin remove-br($breakpoint: xs) {
  br {
    @include media-breakpoint-down($breakpoint) {
      clear: none;
      content: '&nbsp;';
      display: inline;
    }
  }
}

@mixin only-ie() {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin theme-icon() {
  font-family: $theme-icon-font-family !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
