.facts-item.documents {
  ul {
    margin-bottom: 0;
    @include list-unstyled();

    li {
      a {
        display: inline-flex;
        align-items: center;
        color: $white;

        i {
          font-size: $h6-font-size;
        }

        span {
          margin-left: $spacer-x-sm;
        }

        @include hover {
          color: rgba($white, 0.8);
        }
      }
    }
  }
}
