.facts-item.links {
  ul {
    margin-bottom: 0;
    @include list-unstyled();

    li {
      padding: 0.2rem 0;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      a {
        color: inherit;

        @include hover {
          opacity: 0.8;
        }
      }
    }
  }
}
