.facts-item.table {
  color: $white;

  .table {
    background-color: transparent;

    tbody {
      tr {
        td {
          padding: 0.2rem 1rem;
          border: 0;

          &:first-of-type {
            padding-left: 0;
          }

          &:last-of-type {
            padding-right: 0;
          }
        }

        &:first-of-type {
          td {
            padding-top: 0;
          }
        }

        &:last-of-type {
          td {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}
