@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers-x {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: map-get($spacers-y, $size) $length !important;
        }

        .#{$abbrev}t#{$infix}-#{$size} {
          #{$prop}-top: map-get($spacers-y, $size) !important;
        }

        .#{$abbrev}r#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
        }

        .#{$abbrev}b#{$infix}-#{$size} {
          #{$prop}-bottom: map-get($spacers-y, $size) !important;
        }

        .#{$abbrev}l#{$infix}-#{$size} {
          #{$prop}-left: $length !important;
        }

        .#{$abbrev}x#{$infix}-#{$size} {
          #{$prop}-right: $length !important;
          #{$prop}-left: $length !important;
        }

        .#{$abbrev}y#{$infix}-#{$size} {
          #{$prop}-top: map-get($spacers-y, $size) !important;
          #{$prop}-bottom: map-get($spacers-y, $size) !important;
        }
      }
    }
  }
}
