/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.success-notice-style, .error-notice-style{
	display:block;padding:10px;font-size:18px;border:solid 1px #ccc;width:50%;width:580px;margin:0 auto 20px;
}
.success-notice-style{color:darkgreen;font-weight:bold;}
.error-notice-style{color:red;font-weight:bold;}
#sendsupportemail{display:block;background:#000;color:#fff;font-size:18px;padding:10px 20px;width:320px;margin: 20px auto;}
@media screen and (max-width:767px){
	#hdlsupportemail textarea{width:97%!important;min-height:400px;}
	.success-notice-style, .error-notice-style{width:90%;text-align:center;}
}
@media screen and (min-width:768px){
	hdlsupportemail{padding-top:50px;}
	#hdlsupportemail{text-align:center;}
	.success-notice-style, .error-notice-style{
		width:600px;
	}
	#hdlsupportemail textarea{
		max-width:600px;
		width:600px;
		height:400px;
		margin: 0 auto;
	}
}

