$input-btn-padding-y:         0.65rem;
$input-btn-padding-x:         1.25rem;
$input-btn-line-height:       $line-height-sm;
$input-btn-font-size:         $font-size-base !default;

$input-btn-padding-y-sm:      0.45rem;
$input-btn-padding-x-sm:      0.75rem;
$input-btn-line-height-sm:    $line-height-sm;
$input-btn-font-size-sm:      $font-size-base !default;

$input-btn-padding-y-lg:      0.85rem;
$input-btn-padding-x-lg:      1.5rem;
$input-btn-line-height-lg:    $line-height-sm;
$input-btn-font-size-lg:      $font-size-base !default;

$input-btn-border-width:      1px;

$input-btn-focus-width:       0;
$input-btn-focus-color:       rgba($primary, 0.25);
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color;
