$btn-border-width: 0;

$btn-font-weight: $font-weight-medium;
$btn-font-size: $font-size-base !default;
$btn-line-height: $input-btn-line-height;
$btn-padding-y:  $input-btn-padding-y + (get-text-height($input-btn-font-size, $input-btn-line-height) - get-text-height($btn-font-size, $btn-line-height)) / 2 + pxtorem($input-btn-border-width);
$btn-padding-x: $input-btn-padding-x;
$btn-arrow-width: 20px !default;

$btn-font-weight-sm: $font-weight-bold !default;
$btn-font-size-sm: $font-size-lg !default;
$btn-line-height-sm: $input-btn-line-height-sm;
$btn-padding-y-sm: $input-btn-padding-y-sm + (get-text-height($input-btn-font-size-sm, $input-btn-line-height-sm) - get-text-height($btn-font-size-sm, $btn-line-height-sm)) / 2 + pxtorem($input-btn-border-width);
$btn-padding-x-sm: $input-btn-padding-x-sm;
$btn-arrow-width-sm: 15px !default;

$btn-font-weight-lg: $font-weight-medium !default;
$btn-font-size-lg: $font-size-md !default;
$btn-line-height-lg: $input-btn-line-height-lg;
$btn-padding-y-lg: $input-btn-padding-y-lg + (get-text-height($input-btn-font-size-lg, $input-btn-line-height-lg) - get-text-height($btn-font-size-lg, $btn-line-height-lg)) / 2 + pxtorem($input-btn-border-width);
$btn-padding-x-lg: $input-btn-padding-x-lg;
$btn-arrow-width-lg: 25px !default;

$btn-white-space: normal !default;
$btn-letter-spacing: normal !default;
$btn-cursor: pointer !default;
$btn-text-transform: uppercase !default;
$btn-text-align: left !default;
$btn-outline: none !default;
$btn-font-family: $font-family-base !default;

$btn-box-shadow: none;
$btn-focus-width: $input-btn-focus-width;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;
$btn-disabled-opacity: 0.65;
$btn-active-box-shadow: none;

$btn-link-disabled-color: $gray-600;

$btn-block-spacing-y: 0.5rem;

$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

$btn-transition-timing: $transition-base-timing !default;
$btn-transition-duration: $transition-base-duration !default;
$btn-transition: all $btn-transition-duration $btn-transition-timing;
