$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #dcdada;
$gray-400: #a3a19f;
$gray-500: #949492;
$gray-600: #707070;
$gray-700: #595a57;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$blue:        #50778d;
$orange:      #d96c36;
$yellow:      #d6af3d;
$green:       #9eb671;
$indigo:      #6610f2;
$purple:      #6f42c1;
$pink:        #e83e8c;
$red:         #dc3545;
$teal:        #20c997;
$cyan:        #17a2b8;

$colors: (
  "blue":         $blue,
  "indigo":       $indigo,
  "purple":       $purple,
  "pink":         $pink,
  "red":          $red,
  "orange":       $orange,
  "yellow":       $yellow,
  "green":        $green,
  "teal":         $teal,
  "cyan":         $cyan,
  "white":        $white,
  "gray-lighter": $gray-200,
  "gray-light":   $gray-300,
  "gray":         $gray-400,
  "gray-dark":    $gray-600,
  "gray-darker":  $gray-700,
);

$primary:       $blue;
$secondary:     $gray-700;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$lightest:      $gray-100 !default;
$lighter:       $gray-200 !default;
$light:         $gray-300;
$medium:        $gray-400 !default;
$dark:          $gray-600;
$darker:        $gray-700 !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "blue":       $blue,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "lightest":   $lightest,
  "lighter":    $lighter,
  "light":      $light,
  "medium":     $medium,
  "dark":       $dark,
  "darker":     $darker,
);

$page-style-colors: (
  "gray":       $darker,
  "blue":       $blue,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
) !default;

$theme-color-interval:      8%;
$yiq-contrasted-threshold:  250;
$yiq-text-dark:             $gray-900;
$yiq-text-light:            $white;
