$input-bg: $white;
$input-color: $dark;
$input-border-color: $white;
$input-border-width: $input-btn-border-width;
$input-box-shadow: none;
$input-height-border: $input-border-width * 2;

$input-transition-timing: $transition-base-timing !default;
$input-transition-duration: $transition-base-duration !default;
$input-transition: background-color $input-transition-duration $input-transition-timing, background-image $input-transition-duration $input-transition-timing, border-color $input-transition-duration $input-transition-timing, box-shadow $input-transition-duration $input-transition-timing;

// Disabled
$input-disabled-bg: $gray-100;
$input-disabled-color: $gray-400 !default;
$input-disabled-border-color: $input-disabled-bg !default;

// Focus
$input-focus-bg: $input-bg;
$input-focus-border-color: $white;
$input-focus-color: $input-color;
$input-focus-width: $input-btn-focus-width;
$input-focus-box-shadow: none;

// Placeholder
$input-placeholder-color: $gray-400;
$input-placeholder-font-family: $font-family-base !default;
$input-placeholder-font-style: italic !default;

// Input base
$input-border-radius: $border-radius;
$input-font-size: $input-btn-font-size !default;
$input-padding-y: $input-btn-padding-y;
$input-padding-x: $input-btn-padding-x;
$input-line-height: $input-btn-line-height;
$input-height-inner: ($input-font-size * $input-line-height) + ($input-padding-y * 2);
$input-height: calc(#{$input-height-inner} + #{$input-height-border});

// Input sm
$input-border-radius-sm: $border-radius-sm;
$input-font-size-sm: $input-btn-font-size-sm !default;
$input-padding-y-sm: $input-btn-padding-y-sm;
$input-padding-x-sm: $input-btn-padding-x-sm;
$input-line-height-sm: $input-btn-line-height-sm;
$input-height-inner-sm: ($input-font-size-sm * $input-line-height-sm) + ($input-padding-y-sm * 2);
$input-height-sm: calc(#{$input-height-inner-sm} + #{$input-height-border});

// Input lg
$input-border-radius-lg: $border-radius-lg;
$input-font-size-lg: $input-btn-font-size-lg !default;
$input-padding-y-lg: $input-btn-padding-y-lg;
$input-padding-x-lg: $input-btn-padding-x-lg;
$input-line-height-lg: $input-btn-line-height-lg;
$input-height-inner-lg: ($input-font-size-lg * $input-line-height-lg) + ($input-padding-y-lg * 2);
$input-height-lg: calc(#{$input-height-inner-lg} + #{$input-height-border});

// Textarea
$textarea-rows: 7 !default;

// Label
$label-color: $headings-color !default;
$label-margin-bottom: 0.3rem;
$label-padding: 0 0 0 $spacer-x-sm !default;
$label-font-weight: $font-weight-semi-bold !default;
$label-font-size: $font-size-sm !default;
$label-text-transform: uppercase !default;
$label-font-family: $font-family-base !default;

// Form settings
$form-text-margin-top: 0.25rem;

$form-check-input-gutter: 1.25rem;
$form-check-input-margin-y: 0.3rem;
$form-check-input-margin-x: 0.25rem;

$form-check-inline-margin-x: 0.75rem;
$form-check-inline-input-margin-x: 0.3125rem;

$form-group-margin-bottom: $spacer-y-sm;

$input-group-addon-color: $gray-600;
$input-group-addon-bg: $gray-100;
$input-group-addon-border-color: $input-border-color;

$custom-control-gutter: 1.5rem;
$custom-control-spacer-x: 1rem;

$custom-control-indicator-size: 1rem;
$custom-control-indicator-bg: $input-bg;
$custom-control-indicator-bg-size: 50% 50%;
$custom-control-indicator-box-shadow: 0 0 0 1px $input-border-color;

$custom-control-indicator-disabled-bg: $gray-200;
$custom-control-label-disabled-color: $gray-600;

$custom-control-indicator-checked-color: $white;
$custom-control-indicator-checked-bg: $primary;
$custom-control-indicator-checked-disabled-bg: rgba($primary, 0.5);
$custom-control-indicator-checked-box-shadow: 0 0 0 1px $primary !important;

$custom-control-indicator-focus-box-shadow: $custom-control-indicator-box-shadow;

$custom-control-indicator-active-color: $white;
$custom-control-indicator-active-bg: $primary;
$custom-control-indicator-active-box-shadow: $custom-control-indicator-box-shadow;

$custom-checkbox-indicator-border-radius: $border-radius;
$custom-checkbox-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E"), "#", "%23");

$custom-radio-indicator-border-radius: 50%;
$custom-radio-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='0' fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E"), "#", "%23");

// Select
$custom-select-indicator-padding: 1.5rem; // Extra padding to account for the presence of the background-image based indicator
$custom-select-color: $input-color;
$custom-select-disabled-color: $input-disabled-color;
$custom-select-bg: $input-bg;
$custom-select-disabled-bg: $input-disabled-bg;
$custom-select-bg-size: 12px 16px; // In pixels because image dimensions
$custom-select-indicator-color: $input-color;
$custom-select-indicator-color-trans: rgba($white, 0) !default;
$custom-select-indicator: str-replace(url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024'%3E %3Ctitle%3E%3C/title%3E %3Cg id='icomoon-ignore'%3E %3C/g%3E %3Cpath fill='#{$custom-select-indicator-color}' d='M972.93 279.586l45.546 56.494-506.485 408.334-506.468-408.334 45.547-56.493 460.922 371.613z'%3E%3C/path%3E %3C/svg%3E"), "#", "%23");
$custom-select-indicator-transparent: str-replace(url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='1024' height='1024' viewBox='0 0 1024 1024'%3E %3Ctitle%3E%3C/title%3E %3Cg id='icomoon-ignore'%3E %3C/g%3E %3Cpath fill='#{$custom-select-indicator-color-trans}' d='M972.93 279.586l45.546 56.494-506.485 408.334-506.468-408.334 45.547-56.493 460.922 371.613z'%3E%3C/path%3E %3C/svg%3E"), "#", "%23");
$custom-select-focus-border-color: $input-focus-border-color;
$custom-select-focus-box-shadow: $input-focus-box-shadow;

// Data
$custom-date-indicator-padding: 2rem !default;
$custom-date-indicator-color: $gray-400 !default;
$custom-date-bg-size: 22px 26px !default;
$custom-date-indicator: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 32.0001'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Cg id='Layer_2' fill='#{$custom-date-indicator-color}' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath d='M2.0652,0A2.10906,2.10906,0,0,0,0,2.1051V29.8947a2.10926,2.10926,0,0,0,2.0652,2.1054H30.9783a1.24947,1.24947,0,0,0,.8777-.3818l5.7826-5.8947A1.29064,1.29064,0,0,0,38,24.8422V2.1054A2.10913,2.10913,0,0,0,35.9348,0Zm.4131,2.5263H35.5217V9.263H2.4783ZM9.5,4.2105a1.68456,1.68456,0,1,0,1.6522,1.6843A1.66848,1.66848,0,0,0,9.5,4.2105Zm19,0a1.68456,1.68456,0,1,0,1.6521,1.6843A1.66848,1.66848,0,0,0,28.5,4.2105ZM2.4783,11.7896H35.5217V23.5788H31.8043a2.109,2.109,0,0,0-2.0651,2.1054v3.7894H2.4783Zm4.1304,2.1051v5.8948h4.9565V13.8947Zm6.6087,0v5.8948h4.9565V13.8947Zm6.6087,0v5.8948h4.9565V13.8947Zm6.6087,0v5.8948h4.9565V13.8947ZM6.6087,21.4737v5.8948h4.9565V21.4737Zm6.6087,0v5.8948h4.9565V21.4737Zm6.6087,0v5.8948h4.9565V21.4737Zm12.3913,4.6317h1.5489l-1.5489,1.5788Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), "#", "%23") !default;
