$grid-columns: 12;
$grid-gutter-width: $spacer-x;
$grid-gutter-width-xs : $spacer-x-xs !default;

$grid-breakpoints: (
  xs:   0,
  sm:   576px,
  md:   768px,
  lg:   992px,
  xl:   1200px,
  xxl:  1500px,
  xxxl: 1800px
);

// .container
$container-max-widths: (
  sm:   540px,
  md:   720px,
  lg:   960px,
  xl:   1140px,
  xxl:  1440px,
  xxxl: 1740px
);

$container-padding: (
  v-xs: $grid-gutter-width
) !default;

// .container-conditional
$container-c-max-widths: (
  sm:   100%,
  md:   100%,
  lg:   100%,
  xl:   100%,
  xxl:  100%,
  xxxl: 1720px,
) !default;

$container-c-padding: (
  v:        $grid-gutter-width,
  v-xl-up:  25px,
  v-xxl-up: 35px
) !default;

// .container-split
$container-s-max-widths: (
  sm:   map-get($container-max-widths, sm),
  md:   none,
  xxxl: map-get($container-c-max-widths, xxxl) / 2,
) !default;

$container-s-padding: (
  v:        $grid-gutter-width,
  v-sm-up:  $grid-gutter-width / 2,
  v-md-up:  map-get($container-c-padding, v) * 1.5,
  v-lg-up:  map-get($container-c-padding, v) * 1.5,
  v-xl-up:  map-get($container-c-padding, v-xl-up) * 1.5,
  v-xxl-up: map-get($container-c-padding, v-xxl-up) * 1.5,
) !default;
