$header-light: $lightest !default;
$header-medium: $medium !default;
$header-dark: $darker !default;
$header-breakpoint: 1300px !default;

$header-offset-y: (
  v: 5px,
  v-sm-up: 10px,
  v-md-up: 15px,
  v-lg-up: 20px,
  v-xl-up: 25px,
  v-xxl-up: 30px
) !default;
$header-offset-x: (
  v: $grid-gutter-width / 2,
  v-sm-up: map-get($container-c-padding, v),
  v-xl-up: map-get($container-c-padding, v-xl-up),
  v-xxl-up: map-get($container-c-padding, v-xxl-up),
) !default;
$header-height: (
  v: 60px,
  v-xl-up: 70px
) !default;
$header-logo-height: (
  v: 35px,
  v-xl-up: 45px
) !default;

$header-inner-offset: $spacer-x-xs !default;

$header-nav-collapse-bar-width: 40px !default;
$header-nav-collapse-bar-height: 4px !default;
$header-nav-collapse-bar-margin: 4px !default;

$header-nav-collapse-padding-y: $spacer-y-sm !default;
$header-nav-collapse-padding-x: $spacer-x-sm !default;
$header-nav-collapse-height: ($header-nav-collapse-bar-height * 3) + ($header-nav-collapse-bar-margin * 2) + ($header-nav-collapse-padding-y * 2) !default;
