$l-title : (
  v: $h3-font-size,
  v-sm-up: $h2-font-size,
  v-md-up: $h1-font-size,
  v-xl-up: $display4-size,
) !default;

$l-sub-title : (
  v: $font-size-lg,
  v-xl-up: $h6-font-size,
) !default;

$l-text : (
  v-xl-up: $font-size-md,
) !default;

// Separator
$l-separator-height: (
  v: $spacer-y,
  v-md-up: $spacer-y-md,
  v-lg-up: $spacer-y-lg,
) !default;

$l-separator-height-lg: (
  v: $spacer-y-md,
  v-md-up: $spacer-y-lg,
  v-lg-up: $spacer-y-xl,
) !default;
