$modal-inner-padding:               1rem;

$modal-dialog-margin:               0.5rem;
$modal-dialog-margin-y-sm-up:       1.75rem;

$modal-title-line-height:           $line-height-base;

$modal-content-bg:                  $white;
$modal-content-border-color:        rgba($black, 0.2);
$modal-content-border-width:        $border-width;
$modal-content-border-radius:       $border-radius-lg;
$modal-content-box-shadow-xs:       0 0.25rem 0.5rem rgba($black, 0.5);
$modal-content-box-shadow-sm-up:    0 0.5rem 1rem rgba($black, 0.5);

$modal-backdrop-bg:                 $black;
$modal-backdrop-opacity:            0.5;
$modal-header-border-color:         $gray-200;
$modal-footer-border-color:         $modal-header-border-color;
$modal-header-border-width:         $modal-content-border-width;
$modal-footer-border-width:         $modal-header-border-width;
$modal-header-padding:              1rem;

$modal-lg:                          800px;
$modal-md:                          500px;
$modal-sm:                          300px;

$modal-transition:                  transform 0.3s ease-out;
