$spacer-x:             20px !default;
$spacer-y:             decimal-round($font-size-root * $line-height-base) !default;

$spacer-x-xs:          $spacer-x * 0.25 !default;
$spacer-x-sm:          $spacer-x * 0.5 !default;
$spacer-x:             $spacer-x !default;
$spacer-x-md:          $spacer-x * 1.5 !default;
$spacer-x-lg:          $spacer-x * 2 !default;
$spacer-x-xl:          $spacer-x * 3 !default;
$spacer-x-xxl:         $spacer-x * 4 !default;

$spacer-y-xs:          $spacer-y * 0.25 !default;
$spacer-y-sm:          $spacer-y * 0.5 !default;
$spacer-y:             $spacer-y !default;
$spacer-y-md:          $spacer-y * 1.5 !default;
$spacer-y-lg:          $spacer-y * 2 !default;
$spacer-y-xl:          $spacer-y * 3 !default;
$spacer-y-xxl:         $spacer-y * 4 !default;

$spacers-x: (
  0: 0,
  1: $spacer-x-xs,
  2: $spacer-x-sm,
  3: $spacer-x,
  4: $spacer-x-md,
  5: $spacer-x-lg,
  6: $spacer-x-xl,
) !default;

$spacers-y: (
  0: 0,
  1: $spacer-y-xs,
  2: $spacer-y-sm,
  3: $spacer-y,
  4: $spacer-y-md,
  5: $spacer-y-lg,
  6: $spacer-y-xl,
) !default;

// Padding
$padding-default: (v: $spacer-y-lg, v-md-up: $spacer-y-xl) !default;
$padding-lg:      (v: $spacer-y-lg, v-md-up: $spacer-y-xl, v-lg-up: $spacer-y-xxl) !default;
$padding-sm:      (v: $spacer-y-md, v-md-up: $spacer-y-lg) !default;
$padding-xs:      (v: $spacer-y, v-md-up: $spacer-y-md) !default;

$paddings: (
  default: $padding-default,
  lg:      $padding-lg,
  sm:      $padding-sm,
  xs:      $padding-xs,
) !default;
