$fonts-path:                    '../fonts/' !default;
$images-path:                   '../images/' !default;

$font-family-sans-serif:        'Barlow', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-barlow-condensed:  'Barlow Condensed', sans-serif !default;
$font-family-monospace:         SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:              $font-family-sans-serif;
$theme-icon-font-family:        'turbinen-icons' !default;

$font-size-root:                16px !default;

$body-bg:                       $medium;
$body-color:                    $dark;

$wrap-bg:                       $white !default;

$border-width:                  1px;

$transition-base-timing:        ease-in-out !default;
$transition-base-duration:      0.2s !default;
$transition-base:               all $transition-base-duration $transition-base-timing;
$transition-fade-timing:        linear !default;
$transition-fade-duration:      0.15s !default;
$transition-fade:               opacity $transition-fade-duration $transition-fade-timing;
$transition-collapse-timing:    ease !default;
$transition-collapse-duration:  0.35s !default;
$transition-collapse:           height $transition-collapse-duration $transition-collapse-timing;
$transition-scale:              all 0.5s !default;

$link-color:                    $primary;
$link-decoration:               none;
$link-hover-color:              darken($primary, 15);
$link-hover-decoration:         none;

$font-weight-thin:              100 !default;
$font-weight-extra-light:       200 !default;
$font-weight-light:             300;
$font-weight-regular:           400 !default;
$font-weight-medium:            500 !default;
$font-weight-semi-bold:         600 !default;
$font-weight-bold:              700;
$font-weight-extra-bold:        800 !default;
$font-weight-black:             900 !default;
$font-weight-normal:            $font-weight-regular;
$font-weight-base:              $font-weight-light;

$line-height-base:              1.5;
$line-height-lg:                1.7;
$line-height-sm:                1.25;
$line-height-xs:                1.1 !default;
$line-height-xxs:               1 !default;

$font-size-base:                1rem;               // 16px
$font-size-lg:                  1.25rem;            // 20px
$font-size-md:                  1.125rem !default;  // 18px
$font-size-sm:                  0.875rem;           // 14px
$font-size-xs:                  0.75rem !default;   // 12px

$h1-font-size:                  2.25rem;            // 36px
$h2-font-size:                  2rem;               // 32px
$h3-font-size:                  1.75rem;            // 28px
$h4-font-size:                  1.625rem;           // 26px
$h5-font-size:                  1.5rem;             // 24px
$h6-font-size:                  1.375rem;           // 22px

$display1-size:                 3.25rem;            // 52px
$display2-size:                 3rem;               // 48px
$display3-size:                 2.75rem;            // 44px
$display4-size:                 2.5rem;             // 40px
$display-line-height:           $line-height-xs;

$headings-margin-bottom:        decimal-round($font-size-root * $line-height-base);
$headings-font-family:          $font-family-base;
$headings-font-weight:          $font-weight-extra-light;
$headings-line-height:          $line-height-xs;
$headings-color:                $body-color;
$headings-text-transforms:      uppercase !default;

$border-radius:                 0;
$border-radius-sm:              0;
$border-radius-lg:              0;

$lead-color:                    $body-color !default;
$lead-font-size:                $font-size-md;
$lead-font-weight:              $font-weight-regular;

$hr-border-color:               $gray-300;
$hr-border-width:               $border-width;
$hr-margin-y:                   1rem;

$text-muted:                    $gray-600;
