.content-layout-item.content_editor {
  @include responsive-properties((
      (font-size, $l-text),
  ));

  h1 {
    @include responsive-properties((
        (font-size, (
          v: $h2-font-size,
          v-sm-up: $h1-font-size,
          v-md-up: $display4-size,
          v-xl-up: $display3-size,
        )),
    ));
  }

  h2 {
    @include responsive-properties((
        (font-size, $l-title),
    ));
  }

  h3 {
    @include responsive-properties((
        (font-size, (
          v: $h4-font-size,
          v-sm-up: $h3-font-size,
          v-md-up: $h2-font-size,
          v-xl-up: $h1-font-size,
        )),
    ));
  }

  h4 {
    @include responsive-properties((
        (font-size, (
          v: $h5-font-size,
          v-sm-up: $h4-font-size,
          v-md-up: $h3-font-size,
          v-xl-up: $h2-font-size,
        )),
    ));
  }

  &.content-columns-two {
    .ce-content {
      @include media-breakpoint-up(lg) {
        column-count: 2;
        column-gap: $grid-gutter-width;
      }
    }
  }
}
