.content-layout-item.image_grid {
  + .content-layout-item.image_grid {
    padding-top: $grid-gutter-width;
  }

  .image-grid-item {
    margin: 0;
    overflow: hidden;

    img {
      min-width: 100%;
      width: 100%;
      height: auto;
      display: block;
    }

    figcaption {
      padding: $spacer-y-xs $spacer-x-sm;
      position: relative;
      color: $body-color;
      font-style: italic;
      background-color: $gray-100;
      z-index: 10;
      @include remove-last-p-margin();
      @include responsive-properties((
          (font-size, $l-text),
      ));
    }
  }

  &.image-grid-one {
    @include make-row();

    .image-grid-item {
      cursor: default;
      @include make-grid-one();
    }
  }

  &.image-grid-two {
    @include make-row();

    .image-grid-item {
      cursor: default;
      @include make-grid-two();
    }
  }

  &.image-grid-three {
    @include make-row();

    .image-grid-item {
      cursor: default;
      @include make-grid-three();
    }
  }
}
