.content-layout-item.quote {
  .quote-text {
    display: inline-block;
    line-height: $line-height-sm;
    @include responsive-properties((
        (font-size, (
          v: $h4-font-size,
          v-sm-up: $h5-font-size,
          v-md-up: $h3-font-size,
          v-lg-up: $h2-font-size,
          v-xl-up: $h1-font-size,
        )),
    ));
  }
}
