/* This stylesheet is used to style the public-facing components of the plugin. */

@import "compass";

.hotspot-info.da-hidden {
	display: none;
}

.hotspots-interaction {
	margin: 1em 0;
}

.hotspots-map area {
	outline: 0 none;
}

.hotspots-placeholder {
	padding: 1em;
	position: relative;
	& > div {
		height: 0;
		opacity: 0;
		overflow: hidden;
		@include transition(all 200ms);
		&.visible {
			height: auto;
			opacity: 1;
			@include transition(all 200ms);
			@include transition-delay(200ms);
		}
	}
}

.hotspots-image-container {
	background: #efefef;
	& > div {
		margin: 0 auto;
	}
	img {
		@include border-radius(0);
		@include box-shadow(none);
		display: block;
		height: auto;
		margin: 0 auto;
		max-width: 100%;
		padding: 0 !important;
	}
}

.entry-content {
	.hotspot-title {
		text-align: center;
		margin-top: 0;
		padding-top: 0;
	}
	.hotspot-content {
		p {
			color: inherit;
		}
	}
}

.hotspot-content {
	p {
		color: inherit;
	}
}

.hotspot-thumb {
	text-align: center;
	img {
		height: auto;
		max-width: 100%;
	}
}

@media (min-width: 600px) {
	.layout-left .hotspots-interaction,
	.layout-right .hotspots-interaction {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	.layout-left .hotspots-image-container,
	.layout-right .hotspots-image-container {
		display: table-cell;
		vertical-align: top;
		width: 66%;
	}
	.layout-left .hotspots-placeholder,
	.layout-right .hotspots-placeholder {
		display: table-cell;
		vertical-align: top;
	}
}

@media (min-width: 900px) {
	.layout-left .hotspots-image-container,
	.layout-right .hotspots-image-container {
		width: 75%;
	}
}

/* ------------------------------------------- */
/* Responsilight
/* ------------------------------------------- */

.responsilight-wrap {
	line-height: 0;
	margin: 0 auto;
	position: relative;
}

canvas.canvas-display,
canvas.canvas-hover {
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
}

canvas.canvas-display {
	opacity: 0;
	@include transition(opacity 300ms ease-in-out);
	&.canvas-show {
		opacity: 1;
	}
}

canvas.canvas-hover {
	opacity: 0;
	@include transition(opacity 300ms ease-in-out);
	&.canvas-show {
		opacity: 1;
	}
}


/* ------------------------------------------- */
/* Light Box
/* ------------------------------------------- */

.layout-lightbox .hotspots-placeholder {
	display: none;
}

.featherlight {
	background: #333;
	bottom: 0;
	cursor: pointer;
	display: none;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	left: 0;
	white-space: nowrap;
	z-index: 99999;
	&:last-of-type {
		background: rgba(0, 0, 0, 0.8);
	}
	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		margin-right: -0.25em;
		vertical-align: middle;
	}
	.featherlight-content {
		background: #fff;
		border-bottom: 25px solid transparent;
		@include box-sizing(border-box);
		cursor: auto;
		display: inline-block;
		overflow: auto;
		margin-left: 5%;
		margin-right: 5%;
		max-height: 95%;
		max-width: 95%;
		min-height: 3%;
		min-width:  30%;
		padding: 25px;
		position: relative;
		text-align: left;
		vertical-align: middle;
		white-space: normal;
	}
	.featherlight-inner {
		display: block;
	}
	.featherlight-close-icon {
		background: #fff;
		background: rgba(255, 255, 255, 0.3);
		color: #000;
		cursor: pointer;
		font: Arial, sans-serif;
		line-height: 25px;
		padding: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 25px;
		z-index: 9999;
	}
	.featherlight-image {
		width: 100%;
	}
	iframe {
		border: none;
	}
	h2.hotspot-title {
		font-size: 1.2em;
		margin: 0 0 0.4em 0;
		padding: 0;
	}
	.hotspot-content {
		p {
			font-size: 1em;
			margin: 1em 0;
		}
	}
	img {
		height: auto;
		max-width: 100%;
	}
}

.featherlight-iframe .featherlight-content {
	border-bottom: 0;
	padding: 0;
}

@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		border-bottom: 10px solid transparent;
		margin-left: 10px;
		margin-right: 10px;
		max-height: 98%;
		padding: 10px;
	}
}

/* ------------------------------------------- */
/* Error Message
/* ------------------------------------------- */

.da-error {
	border: 2px solid #cc0000;
	padding: 1rem;
	& > *:first-child {
		margin-top: 0;
		padding-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

/* ------------------------------------------- */
/* Tooltip
/* ------------------------------------------- */

.layout-tooltip .hotspots-placeholder {
	display: none;
}

.qtip {
	@include box-shadow(2px 2px 5px rgba(black, 0.3));
	direction: ltr;
	display: none;
	left: -28000px;
	max-width: 280px;
	min-width: 50px;
	padding: 0;
	position: absolute;
	top: -28000px;
	&.qtip-da-hover {
		pointer-events: none;
	}
}

.qtip-content {
	overflow: hidden;
	padding: 0.5em 0.75em;
	position: relative;
	text-align: left;
	word-wrap: break-word;
	h2.hotspot-title {
		font-size: 1.2em;
		margin: 0 0 0.4em 0;
		padding: 0;
		text-align: center;
	}
	.hotspot-content {
		p {
			font-size: 1em;
			margin: 1em 0;
		}
		img {
			height: auto;
			max-width: 100%;
		}
	}
}

/* Default tooltip style */
.qtip-default{
	background-color: #FFFFA3;
	border: 0 none;
	color: #555;
}

.qtip .qtip-tip{
	margin: 0 auto;
	overflow: hidden;
	z-index: 10;
}

/* Opera bug #357 - Incorrect tip position
https://github.com/Craga89/qTip2/issues/367 */
x:-o-prefocus, .qtip .qtip-tip{
	visibility: hidden;
}

	.qtip .qtip-tip,
	.qtip .qtip-tip .qtip-vml,
	.qtip .qtip-tip canvas{
		position: absolute;
		color: #123456;
		background: transparent;
		border: 0 dashed transparent;
	}

	.qtip .qtip-tip canvas{ top: 0; left: 0; }

	.qtip .qtip-tip .qtip-vml{
		display: inline-block;
		visibility: visible;
	}

	.qtip-titlebar{
		position: relative;
		padding: 0;
		overflow: hidden;
		border-width: 0;
	}


	.qtip-close{
		position: absolute;
		right: 4px; top: 4px;
		z-index: 11; /* Overlap .qtip-tip */

		cursor: pointer;
		outline: medium none;

		border: 1px solid transparent;
	}

		.qtip-titlebar .qtip-close{
			right: 4px; top: 50%;
			margin-top: -9px;
		}

		* html .qtip-titlebar .qtip-close{ top: 16px; } /* IE fix */

		.qtip-titlebar .ui-icon,
		.qtip-icon .ui-icon{
			display: block;
			text-indent: -1000em;
			direction: ltr;
		}

		.qtip-icon, .qtip-icon .ui-icon{
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			text-decoration: none;
		}

			.qtip-icon .ui-icon{
				width: 18px;
				height: 14px;

				line-height: 14px;
				text-align: center;
				text-indent: 0;
				font: normal bold 16px/16px Tahoma,sans-serif;

				// color: inherit;
				color: white;
				background: transparent none no-repeat -100em -100em;
			}

