.layout-item.buttons {
  .b {
    &-buttons {
      margin-bottom: 0;
      @include list-unstyled();
    }

    &-button-item {
      @include responsive-properties((
          (padding, (
            v: 0 $spacer-x-sm
          )),
      ));
    }

    &-button {
      white-space: nowrap;
      @include media-breakpoint-up(xl) {
        @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
      }
    }
  }

  // Carousel
  .owl-carousel {
    @include responsive-properties((
        (padding, (
          v: 0 $h1-font-size,
          v-xl-up: 0 $display3-size,
        )),
    ));

    .owl {
      &-stage {
        display: flex;
        justify-content: center;
        min-width: 100%;
      }

      &-item {
        float: none !important;
        display: inline-flex;
      }

      &-nav {
        display: block;
      }

      &-prev,
      &-next {
        color: $white;
        position: absolute;
        top: 50%;
        line-height: 1;
        display: flex;
        @include translateY(-50%);
        @include transition($btn-transition);
        @include responsive-properties((
            (font-size, (
              v: $h1-font-size,
              v-xl-up: $display3-size,
            )),
        ));

        &.disabled {
          opacity: 0;
          visibility: hidden;
        }

        @include hover {
          color: rgba($white, 0.8);
        }
      }

      &-prev {
        left: $spacer-x-sm / -1;
      }

      &-next {
        right: $spacer-x-sm / -1;
      }
    }
  }
}
