.layout-item.content_layouts {
  .content-layout-item {
    + .content-layout-item {
      @include responsive-properties((
          (padding-top, $padding-xs),
      ));
    }
  }

  .container {
    @include responsive-properties((
        (max-width, (
          v-xxxl-up: map_get($container-max-widths, 'xxl')
        )),
    ));
  }
}
