.layout-item.content_block {
  .cb {
    &-inner {
      margin: 0 auto;
      text-align: center;
    }
  }

  // Background
  &.has-bg {
    .cb {
      &-title,
      &-text {
        color: $white !important;
      }
    }
  }
}
