.layout-item.draw_attention {
  .draw-attention-container {
    @include responsive-properties((
        (padding, (v-xxl-down: 0)),
    ));
  }

  .draw-attention-image {
    min-width: 700px;
  }
}
