.layout-item.facts {
  font-weight: $font-weight-regular;
  color: $white;

  .layout-item-row {
    @include responsive-properties((
        (margin-top, (
          v: $spacer-y-md / -1,
          v-xl-up: $spacer-y-lg / -1,
        )),
    ));
  }

  .layout-item-col {
    @include responsive-properties((
        (padding-top, (
          v: $spacer-y-md,
          v-xl-up: $spacer-y-lg,
        )),
    ));
  }

  .facts-item-title {
    color: inherit;
    font-size: $h6-font-size;
    font-weight: $font-weight-medium;
    margin-bottom: $spacer-y;
  }
}
