.layout-item.gallery {
  .layout-item-inner {
    overflow: hidden;
    margin-bottom: $grid-gutter-width-xs * -2 !important;
  }

  .layout-item-col {
    .split-item {
      padding-bottom: $grid-gutter-width-xs * 2;
    }
  }

  .gallery-nav {
    width: 100%;
    align-items: center;
    padding: 0 ($grid-gutter-width-xs / 2);

    &-inner {
      display: flex;
      justify-content: center;
      padding: $spacer-y 0 ($grid-gutter-width-xs * 2);
    }
  }
}
