.layout-item.google_map {
  .turbinen-gmap {
    width: 100%;
    @include responsive-properties((
        (height, (
          v: 400px,
          v-sm-up: 450px,
          v-md-up: 500px,
          v-lg-up: 600px,
          v-xl-up: 700px,
          v-xxl-up: 800px,
        )),
    ));

    img {
      max-width: inherit !important;
    }
  }
}
