.layout-item.banner,
.layout-item.hero_slider {
  .hs-slide {
    display: flex;
    flex-direction: row;

    &-inner {
      display: flex;
      width: 100%;
      align-items: center;
      position: relative;
      min-height: 100vh;
      overflow: hidden;
      @include responsive-properties((
          (min-height, (
            v: 500px,
            v-sm-up: 550px,
            v-md-up: 600px,
            v-lg-up: 650px,
            v-xl-up: 700px,
            v-xxl-up: 800px,
          )),
      ));
    }

    &-triangle {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      width: 300px;
      left: 0;
      z-index: 2;
      @include responsive-properties((
          (width, (
            v: 125px,
            v-sm-up: 150px,
            v-md-up: 175px,
            v-lg-up: 200px,
          )),
      ));

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 100%;
        height: 100vh;
        min-height: 1080px;
        padding-right: 200%;
        background-color: inherit;
        clip-path: polygon(75% 50%, 0% 0%, 0% 100%);
        @include translateY(-50%);
      }
    }

    &-content {
      position: relative;
      z-index: 3;
      @include responsive-properties((
          (max-width, (
            v: 275px,
            v-sm-up: 325px,
            v-md-up: 375px,
            v-lg-up: 425px,
          )),
          (padding, (
            v-sm-up: 0 $spacer-x-sm,
            v-lg-up: 0 $spacer-x,
          )),
      ));
    }

    &-title {
      color: $white;
      @include responsive-properties((
          (font-size, (
            v: $h3-font-size,
            v-sm-up: $h2-font-size,
            v-md-up: $h1-font-size,
            v-lg-up: $display4-size,
            v-xl-up: $display3-size,
          )),
      ));
    }

    &-text {
      color: $white;
      @include responsive-properties((
          (font-size, (
            v: $font-size-base,
            v-md: $font-size-md,
            v-lg-up: $font-size-lg,
          )),
      ));
    }

    &-buttons {
      display: block;
      @include list-unstyled;

      li {
        a {
          color: $white;
          @include responsive-properties((
              (font-size, (
                v: $font-size-base,
                v-md: $font-size-md,
                v-lg-up: $font-size-lg,
              )),
          ));

          @include hover-focus {
            color: rgba($white, 0.8);
          }
        }
      }
    }
  }

  // Slick Slider
  .slick {
    &-slider {
      direction: rtl;
    }

    &-slide {
      direction: ltr;
    }

    &-arrow {
      color: $white;
      position: absolute;
      top: 50%;
      @include translateY(-50%);
      @include responsive-properties((
          (right, $container-c-padding),
          (display, (v-sm-down: none !important)),
          (font-size, (
            v-md-up: 55px,
            v-lg-up: 65px,
            v-xl-up: 85px
          )),
      ));

      @include hover {
        color: rgba($white, 0.8);
      }

      &.slick-prev {
        display: none !important;
      }
    }

    &-dots {
      direction: ltr;
      position: absolute;
      @include responsive-properties((
          (right, $container-c-padding),
          (bottom, (
            v: $spacer-y-sm,
            v-lg-up: $spacer-y
          )),
      ));
    }
  }

  // Height
  &.height-small {
    .hs-slide {
      &-inner {
        @include responsive-properties((
            (min-height, (
              v: 500px,
              v-sm-up: 550px,
              v-md-up: 600px,
              v-xxl-up: 650px,
            )),
        ));
      }
    }
  }

  // Full Screen
  &.full-screen-enabled {
    .hs-slide {
      &-inner {
        min-height: 100vh;
      }
    }
  }
}
