.layout-item.hero_benefit {
  display: flex;
  flex-direction: row;

  .layout-item-inner {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    @include responsive-properties((
        (min-height, (
          v-xs: 400px,
          v-sm: 450px,
          v-md-up: 500px,
          v-lg-up: 550px,
          v-xl-up: 600px,
          v-xxl-up: 700px,
        )),
    ));
  }

  .hb {
    &-container {
      display: flex;
    }

    &-inner {
      position: relative;
      z-index: 2;
      display: flex;
      @include responsive-properties((
          (max-width, (v-sm-down: 100% !important)),
      ));
    }

    &-content {
      background-color: rgba($lightest, 0.8);
      @include responsive-properties((
          (max-width, (v: 100%, v-md: 90%, v-lg: 90%)),
          (padding, (
            v: $spacer-y-md $spacer-x-md,
            v-md-up: $spacer-y-lg $spacer-x-md,
            v-xl-up: $spacer-y-lg $spacer-x-lg
          )),
      ));
    }
  }

  // Horizontal position
  &.horizontal-position-right {
    .hb {
      &-inner,
      &-container {
        justify-content: flex-end;
      }
    }
  }

  &.horizontal-position-center {
    .hb {
      &-inner,
      &-container {
        justify-content: center;
      }
    }
  }
}
