.layout-item.apartments,
.layout-item.houses,
.layout-item.office_spaces {
  .apartments,
  .houses,
  .offices {
    &-filters {
      &-container {
        @include responsive-properties((
            (max-width, (
              v-xxl-up: map_get($container-max-widths, xxl),
            )),
        ));
      }

      &-row {
        justify-content: center;
        @include responsive-properties((
            (margin-top, (
              v: $spacer-y-sm / -1
            )),
            (margin-left, (
              v-xl-up: $grid-gutter-width / -1
            )),
            (margin-right, (
              v-xl-up: $grid-gutter-width / -1
            ))
        ));
      }

      &-col {
        @include responsive-properties((
            (padding-top, (
              v: $spacer-y-sm
            )),
            (padding-left, (
              v-xl-up: $grid-gutter-width
            )),
            (padding-right, (
              v-xl-up: $grid-gutter-width
            ))
        ));
      }
    }

    &-row {
      article.type-turb_apartment,
      article.type-turb_office_space,
      article.type-turb_house {
        @include responsive-properties((
            (margin-top, $l-separator-height),
        ));
      }

      &.empty {
        .alert {
          @include responsive-properties((
              (margin-top, $l-separator-height),
          ));
        }
      }
    }

    &-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $font-size-lg;

      i {
        opacity: 0;
        animation: spin 1s linear infinite;
        @include transition(opacity $btn-transition-duration $btn-transition-timing);
      }

      &.loading {
        i {
          opacity: 1;
        }
      }
    }
  }
}
