.layout-item.image {
  .i-image-link {
    display: block;
    overflow: hidden;

    .i-image {
      backface-visibility: hidden;
      @include transition($transition-scale);

      img {
        backface-visibility: hidden;
      }
    }

    @include hover {
      .i-image {
        transform: scale(1.1);
      }
    }
  }

  // Image Crop
  &.crop-disabled {
    .i-image {
      img {
        min-width: 100%;
      }
    }
  }

  &.crop-enabled {
    &.height-default {
      .i-image {
        @include responsive-properties((
            (height, (
              v: 300px,
              v-sm-up: 300px,
              v-lg-up: 400px,
              v-xl-up: 500px,
              v-xxl-up: 600px
            )),
        ));
      }
    }

    &.height-large {
      .i-image {
        @include responsive-properties((
            (height, (
              v: 400px,
              v-sm-up: 450px,
              v-lg-up: 500px,
              v-xl-up: 600px,
              v-xxl-up: 700px
            )),
        ));
      }
    }
  }
}
