.layout-item.logos {
  text-align: center;

  .l {
    &-title {
      color: $headings-color;
    }

    &-logos {
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0 ($grid-gutter-width / -2) ($grid-gutter-width / -1);
      @include list-unstyled();
    }

    &-logo-wrap {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 ($grid-gutter-width / 2) $grid-gutter-width;
    }
  }
}
