.layout-item.members {
  .ms {
    &-row {
      justify-content: center;
      margin-top: $grid-gutter-width / -1;
    }

    &-col {
      display: flex;
      padding-top: $grid-gutter-width;
    }

    &-member {
      display: flex;
      flex: 1 1 auto;
      width: 100%;
      flex-direction: column;

      &-picture-wrap {
        padding-top: 88%;
        position: relative;
      }

      &-inner {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;
        @include responsive-properties((
            (padding, (
              v: $spacer-y-md $spacer-x-md,
              v-lg: $spacer-y-md $spacer-x
            )),
        ));
      }

      &-name {
        color: $body-color;
        font-weight: $font-weight-medium;
        @include responsive-properties((
            (font-size, (
              v: $font-size-lg,
              v-sm: $h6-font-size,
              v-lg: $font-size-lg,
              v-xl-up: $h6-font-size
            )),
        ));
      }

      &-position {
        font-weight: $font-weight-medium;
        @include responsive-properties((
            (font-size, (
              v: $font-size-base,
              v-sm: $font-size-md,
              v-xl-up: $font-size-md
            )),
        ));
      }

      &-contact {
        margin-top: auto;
      }

      &-phone,
      &-mobile,
      &-email {
        font-weight: $font-weight-medium;
        @include responsive-properties((
            (font-size, (
              v: $font-size-base,
              v-sm: $font-size-md,
              v-xl-up: $font-size-md
            )),
        ));

        a {
          color: $body-color;

          @include hover {
            color: darken($body-color, 10);
          }
        }
      }

      &-email {
        @include break-all();
      }
    }
  }
}
