.layout-item.news,
.layout-item.search {
  .posts-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: $spacer-y / -1;

    .posts-title {
      display: inline-flex;
      color: $headings-color;
      margin: $spacer-y $spacer-x-md 0 0;
    }

    .posts-categories {
      margin: $spacer-y 0 ($spacer-y-xs / -1);
      display: inline-flex;
      flex-wrap: wrap;
      @include list-unstyled();

      li {
        margin: 0 $spacer-x-sm $spacer-y-xs 0;
      }
    }
  }

  .posts-row {
    margin: $grid-gutter-width-xs / -1;

    &.empty {
      margin: 0;

      .alert {
        width: 100%;
      }
    }
  }

  .hentry {
    padding: $grid-gutter-width-xs;

    &:nth-last-of-type(-n+2) {
      @include responsive-properties((
          (display, (v-xl-down: none)),
      ));
    }

    .entry {
      &-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: $white;
      }

      &-title {
        @include responsive-properties((
            (font-size, (v: $h5-font-size)),
        ));

        a {
          color: $body-color;
        }
      }

      &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-button {
        margin-left: auto;
        padding-left: $spacer-x;

        .btn {
          white-space: nowrap;
        }
      }
    }

    // Has thumbnail
    &.has-thumbnail {
      .entry {
        &-header {
          position: relative;
        }

        &-thumbnail {
          backface-visibility: hidden;
          @include transition($transition-scale);
          @include responsive-properties((
              (height, (v: 250px)),
          ));

          img {
            backface-visibility: hidden;
          }
        }

        &-thumbnail-link {
          overflow: hidden;
          display: block;

          @include hover {
            .entry-thumbnail {
              transform: scale(1.1);
            }
          }
        }

        &-updated {
          position: absolute;
          left: 0;
          bottom: 0;
          background-color: $white;
          display: inline-block;
          padding: $spacer-y-xs $spacer-x-sm $spacer-y-xs $spacer-x;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: -1px;
            background-color: inherit;
            right: ($btn-arrow-width - 1) / -1;
            padding-right: $btn-arrow-width;
            clip-path: polygon(1px 0, 100% 100%, 1px 100%, 0 100%, 0 0);
          }
        }

        &-footer {
          height: 100%;
          padding: ($spacer-y-sm * 1.5) $spacer-x;
          @include responsive-properties((
              (flex-direction, (
                v: column,
                v-sm-up: row,
                v-md: column,
              )),
          ));
        }

        &-title {
          font-weight: $font-weight-semi-bold;
          width: 100%;
        }

        &-button {
          text-align: right;
          @include responsive-properties((
              (width, (
                v-xs: 100%,
                v-md: 100%,
              )),
              (margin-top, (
                v-xs: $spacer-y-sm * 1.5,
                v-md: $spacer-y-sm * 1.5,
              )),
          ));
        }
      }
    }

    // No thumbnail
    &.no-thumbnail {
      .entry {
        &-inner {
          @include responsive-properties((
              (padding, (
                v: $spacer-y-md $spacer-x,
                v-sm-up: $spacer-y-md $spacer-x-lg,
                v-md: $spacer-y-md $spacer-x-md,
              )),
          ));
        }

        &-header {
          @include responsive-properties((
              (padding-bottom, (v: $spacer-y-md)),
          ));
        }

        &-footer {
          margin-top: auto;
          @include responsive-properties((
              (padding-top, (v: $spacer-y-md)),
          ));
        }

        &-updated {
          @include responsive-properties((
              (font-size, (v: $font-size-lg)),
          ));
        }
      }
    }
  }

  .posts-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-lg;

    i {
      opacity: 0;
      animation: spin 1s linear infinite;
      @include transition(opacity $btn-transition-duration $btn-transition-timing);
    }

    &.loading {
      i {
        opacity: 1;
      }
    }
  }
}
