.layout-item.price_list {
  .table-wrap {
    margin: 0 auto;
  }

  table {
    tbody {
      td {
        vertical-align: middle;
        font-weight: $font-weight-regular;

        &:first-of-type {
          @include page-style('color');
        }

        &:last-of-type {
          width: remtopx($h5-font-size) + $spacer-x-lg;
          text-align: center;

          a {
            color: $gray-900;
            font-size: $h5-font-size;
            display: grid;

            i {
              margin: ($spacer-y-xs / -1) 0;
            }

            @include hover {
              color: lighten($gray-900, 15);
            }
          }
        }
      }
    }
  }
}
