.layout-item.properties {
  .ps {
    &-row {
      margin-top: $grid-gutter-width / -1;
      justify-content: center;
    }

    &-col {
      padding-top: $grid-gutter-width;
    }

    &-property {
      background-color: $lightest;
      height: 100%;

      &-image-wrap {
        padding-top: 50%;
        position: relative;
      }

      &-image {
        backface-visibility: hidden;
        @include transition($transition-scale);

        img {
          backface-visibility: hidden;
        }
      }

      &-image-link {
        overflow: hidden;
        display: block;
        padding-top: 50%;
        position: relative;

        @include hover {
          .ps-property-image {
            transform: scale(1.1);
          }
        }
      }

      &-details {
        margin-bottom: 0;
        @include list-unstyled();
        @include responsive-properties((
            (padding, (
              v: $spacer-y $spacer-x $spacer-y-md,
              v-sm-up: $spacer-y-md $spacer-x-lg $spacer-y-lg,
              v-md: $spacer-y-md $spacer-x-md $spacer-y-lg,
            )),
        ));

        li {
          display: block;
          font-weight: $font-weight-semi-bold;

          + li {
            margin-top: $spacer-y-xs / 2;
          }
        }
      }
    }
  }
}
