.layout-item.project_status {
  .ps {
    &-wrap {
      @include responsive-properties((
          (padding-left, (v-sm-down : 0)),
          (padding-right, (v-sm-down : 0)),
      ));
    }

    &-container {
      overflow: hidden;
      background-color: $lightest;
      text-align: center;
      @include responsive-properties((
          (padding-top, $padding-xs),
          (padding-bottom, $padding-xs),
      ));
    }

    &-inner {
      padding: 0;
      @include responsive-properties((
          (max-width, (v-xl-up: map_get($container-max-widths, xl))),
      ));
    }

    &-items {
      margin-bottom: 0;
      @include list-unstyled();
    }

    &-item {
      position: relative;
      padding: 0 $spacer-x;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 77px;
        height: 6px;
        width: 50%;
        background-color: $gray-300;
        @include translateY(-50%);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }

      &:first-of-type {
        &::before {
          display: none;
        }
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }

      &-circle {
        position: relative;
        z-index: 2;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 160px;
        border-radius: 50%;

        i {
          color: $lightest;
          font-size: 70px;
        }

        &:not(.bg-ns) {
          background-color: $gray-300;
        }
      }

      &-title {
        text-transform: uppercase;
        color: $body-color;
        font-size: $h6-font-size;
        font-weight: $font-weight-medium;
        margin-top: $spacer-y;
      }
    }
  }

  // Carousel
  .slick-slider {
    .slick-list {
      overflow: visible !important;
    }

    .slick-dots {
      justify-content: center;
      @include responsive-properties((
          (padding-top, $padding-sm),
      ));
    }
  }
}
