.layout-item.profile {
  .layout-item-inner {
    overflow: hidden;
    position: relative;
  }

  .profile {
    &-col {
      display: flex;
      align-items: center;

      &:first-of-type {
        align-items: flex-end;
        @include responsive-properties((
            (padding-right, (v-md-up: 0)),
        ));
      }

      &:last-of-type {
        background-color: $light;

        &::before {
          content: '';
          background-color: inherit;
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          width: 300%;
          @include responsive-properties((
              (left, (v: -50%, v-md-up: 50%)),
          ));
        }
      }
    }

    &-picture-wrap {
      position: relative;
      width: 100%;
      padding-top: 100%;
    }

    &-content {
      @include responsive-properties((
          (padding-left, (
            v-md-up: $spacer-x-lg,
            v-lg-up: $spacer-x-xl,
            v-xl-up: $spacer-x-xxl,
          )),
      ));
    }

    &-title {
      font-weight: $font-weight-medium;
      position: relative;
    }

    &-text {
      position: relative;
    }

    &-details {
      position: relative;
    }

    &-name {
      font-weight: $font-weight-medium;
      font-size: $font-size-lg;
    }

    &-position {
      font-style: italic;
      font-weight: $font-weight-regular;
    }

    &-phone,
    &-email {
      font-weight: $font-weight-regular;

      a {
        color: $body-color;
        line-height: $line-height-sm;

        @include hover {
          color: darken($body-color, 10);
        }
      }
    }

    &-email {
      @include break-all();
    }
  }
}
