.layout-item.separator {
  .layout-item-inner {
    @include responsive-properties((
        (height, $l-separator-height),
    ));
  }

  // Height
  &.height-lg {
    .layout-item-inner {
      @include responsive-properties((
          (height, $l-separator-height-lg),
      ));
    }
  }
}
