.layout-item.split_content {
  .layout-item-row {
    margin: 0;
  }

  .layout-item-col {
    padding: 0;
  }

  .split-item {
    flex-direction: row;
    height: 100%;
  }

  .split-item-inner {
    position: relative;
    display: flex;
    height: 100%;
    @include responsive-properties((
        (min-height, (
          v-md-up: 300px,
          v-lg-up: 400px,
          v-xl-up: 500px,
          v-xxl-up: 600px
        )),
    ));

    &.mobile-min-height {
      @include responsive-properties((
          (min-height, (
            v-xs: 300px,
            v-sm: 350px,
          )),
      ));
    }
  }

  // Gutter
  &.gutter-enabled {
    .layout-item-row {
      margin: 0 ($grid-gutter-width-xs / -1);
    }

    .layout-item-col {
      padding: 0 $grid-gutter-width-xs;

      &:last-of-type {
        @include responsive-properties((
            (padding-top, (v-sm-down: $grid-gutter-width-xs * 2)),
        ));
      }
    }
  }

  // Min Height
  &.min-height-none {
    .split-item-inner {
      min-height: 0 !important;
    }
  }

  &.min-height-large {
    .split-item-inner {
      @include responsive-properties((
          (min-height, (
            v-md-up: 400px,
            v-lg-up: 500px,
            v-xl-up: 600px,
            v-xxl-up: 700px
          )),
      ));

      &.mobile-min-height {
        @include responsive-properties((
            (min-height, (
              v-xs: 400px,
              v-sm: 450px,
            )),
        ));
      }
    }
  }

  // Order
  &.order-default {
    .layout-item-col {
      &:first-of-type {
        .container-split {
          margin-left: auto;
          @include responsive-properties((
              (padding-left, (v-xxxl-up: 0)),
          ));
        }
      }

      &:last-of-type {
        .container-split {
          @include responsive-properties((
              (padding-right, (v-xxxl-up: 0)),
          ));
        }
      }
    }

    // Gutter
    &.gutter-enabled {
      .layout-item-col {
        &:first-of-type {
          .container-split {
            margin-left: auto;
            @include responsive-properties((
                (padding-left, (v-xxxl-up: $grid-gutter-width-xs)),
            ));
          }
        }

        &:last-of-type {
          .container-split {
            @include responsive-properties((
                (padding-right, (v-xxxl-up: $grid-gutter-width-xs)),
            ));
          }
        }
      }
    }
  }

  // Order
  &.order-reversed {
    .layout-item-row {
      flex-direction: row-reverse;
    }

    .layout-item-col {
      &:first-of-type {
        .container-split {
          @include responsive-properties((
              (padding-right, (v-xxxl-up: 0)),
          ));
        }
      }

      &:last-of-type {
        .container-split {
          margin-left: auto;
          @include responsive-properties((
              (padding-left, (v-xxxl-up: 0)),
          ));
        }
      }
    }

    // Gutter
    &.gutter-enabled {
      .layout-item-col {
        &:first-of-type {
          .container-split {
            @include responsive-properties((
                (padding-right, (v-xxxl-up: $grid-gutter-width-xs)),
            ));
          }
        }

        &:last-of-type {
          .container-split {
            margin-left: auto;
            @include responsive-properties((
                (padding-left, (v-xxxl-up: $grid-gutter-width-xs)),
            ));
          }
        }
      }
    }
  }
}
