.content-info {
  position: relative;
  overflow: hidden;
  color: $darker;
  background-color: $footer-bg;
  @include responsive-properties((
      (padding, (v: $spacer-y-lg 0, v-xl-up: $spacer-y-xl 0)),
  ));

  .ci-overlay {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;

    img {
      max-height: 100%;
      height: 100%;
      width: auto;
    }
  }

  .ci-container {
    position: relative;
    z-index: 1;
  }

  .ci-widgets {
    @include make-row();
    @include responsive-properties((
        (margin-top, (v-sm-down: $spacer-y-md / -1)),
    ));
  }

  .ci-widget {
    display: flex;
    flex-direction: column;
    @include make-col-ready();
    @include responsive-properties((
        (padding-top, (v-sm-down: $spacer-y-md)),
    ));

    .ci-widget-inner {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .ciw-title {
      color: $darker;
      font-family: $font-family-barlow-condensed;
      font-weight: $font-weight-bold;
      font-size: $font-size-base;
    }

    // Contact
    &.contact {
      @include remove-last-p-margin($spacer-y * 0.75);

      p {
        display: flex;
        font-family: $font-family-barlow-condensed;
        font-weight: $font-weight-bold;
        line-height: $line-height-sm;
      }

      i {
        font-size: $h5-font-size;
        margin-right: $spacer-x-sm;
      }

      a {
        color: $darker;

        @include hover {
          color: $white;
        }
      }
    }

    // Navigation
    &.navigation {
      .ciw-nav {
        > ul {
          flex-direction: column;

          ul {
            display: none;
          }

          > li {
            + li {
              margin-top: $spacer-y-xs / 2;
            }

            > a {
              text-transform: uppercase;
              font-family: $font-family-barlow-condensed;
              font-weight: $font-weight-bold;
              line-height: $line-height-xs;
              color: $darker;

              @include hover-focus-active {
                color: $white;
              }
            }
          }
        }
      }
    }

    // Socials
    &.socials {
      .ciw-socials {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        @include list-unstyled();

        li {
          + li {
            margin-left: $spacer-x-sm;
          }

          a {
            display: flex;
            color: $darker;
            font-size: $h3-font-size;
            padding: $spacer-x-xs;

            @include hover {
              color: $white;
            }
          }
        }
      }

      .ciw-brand {
        margin-top: auto;
        padding-top: $spacer-y-md;

        svg {
          width: auto;
          @include responsive-properties((
              (height, (v: 70px)),
          ));
        }
      }
    }
  }
}
