.header-wrap {
  .header {
    position: fixed;
    z-index: $zindex-fixed;
    pointer-events: none;
    @include responsive-properties((
        (top, $header-offset-y),
        (left, $header-offset-x),
        (right, $header-offset-x),
    ));

    @include only-ie() {
      pointer-events: auto;
    }

    .header-helper {
      position: absolute;
      z-index: -10;
      @include responsive-properties((
          (height, $header-offset-y),
      ));
    }

    .header-inner {
      pointer-events: auto;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      margin: 0 auto;
      width: 100%;
      padding: $header-inner-offset;
      background-color: $header-light;
      max-width: map-get($container-c-max-widths, xxxl);
      @include transition($transition-base);
      @include responsive-properties((
          (height, $header-height),
      ));
    }

    .search-form {
      background-color: $white;
      position: absolute;
      z-index: 10;
      top: $header-inner-offset;
      left: $header-inner-offset;
      right: $header-inner-offset;
      bottom: $header-inner-offset;
      @include transition($transition-base);
      @include translateY(-110%);

      .search-active & {
        @include translateY(0);
      }

      &-field {
        border-color: transparent;
        width: 100%;
        font-weight: $font-weight-light;
        font-size: $h6-font-size;
        padding-right: $spacer-x-xxl;
      }

      &-close {
        display: flex;
        align-items: center;
        position: absolute;
        right: $spacer-x;
        background-color: transparent;
        border: 0;
        padding: 0;
        font-size: $h2-font-size;
        top: 50%;
        @include page-style(color);
        @include translateY(-50%);

        @include hover {
          opacity: 0.9;
        }
      }
    }

    .brand {
      position: relative;
      z-index: 2;
      margin-left: $spacer-x-sm;
      margin-right: auto;

      svg {
        width: auto;
        @include responsive-properties((
            (height, $header-logo-height),
        ));
      }
    }

    .nav-primary {
      display: none;

      @media (min-width: $header-breakpoint) {
        display: block;
      }

      @include responsive-properties((
          (margin, (v-xl-down: 0 $spacer-x-sm)),
      ));

      @include media-breakpoint-up(xxl) {
        text-align: center;
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
        top: 50%;
        @include translateY(-50%);
      }

      > ul {
        flex-wrap: nowrap;
        @include responsive-properties((
            (display, (v-xxl-up: inline-flex)),
        ));

        ul {
          display: none;
        }

        > li {
          display: flex;

          > a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-transform: uppercase;
            font-family: $font-family-barlow-condensed;
            font-weight: $font-weight-bold;
            color: $header-dark;
            padding: $spacer-y-xs $spacer-x-sm;
            line-height: $line-height-xs;
            @include responsive-properties((
                (font-size, (v-xxl-up: $font-size-md)),
            ));

            @include hover-focus-active {
              color: rgba($header-dark, 0.8);
            }
          }

          &.active {
            > a {
              color: $header-light;
              @include page-style(background-color);
            }
          }
        }
      }
    }

    .header-right {
      position: relative;
      z-index: 2;
      height: 100%;
      display: flex;
      align-items: center;

      @media (min-width: $header-breakpoint) {
        background-color: $header-medium;
        padding: 0 ($spacer-x-sm + $spacer-x-xs);
      }

      @include responsive-properties((
          (padding, (
            v: 0 ($spacer-x * 0.75),
            v-xxl-up: 0 $spacer-x
          )),
      ));
    }

    .header-right-links {
      display: none;
      margin-bottom: 0;
      @include list-unstyled();

      @media (min-width: $header-breakpoint) {
        display: flex;
      }

      li {
        + li {
          margin-left: $spacer-x-xs;
        }

        a {
          display: flex;
          color: $white;
          font-size: $h6-font-size;
          @include responsive-properties((
              (padding, (
                v: $spacer-x-xs ($spacer-x-xs / 2),
                v-xxl-up: $spacer-x-xs
              )),
          ));

          @include hover {
            color: rgba($white, 0.8);
          }
        }
      }
    }

    .nav-secondary {
      display: flex;
      align-items: center;
      height: 100%;
      position: relative;
      @include responsive-properties((
          (padding-left, (v-xl-up: $spacer-x)),
          (margin-right, (v-lg-down: $spacer-x-sm)),
          (margin-left, (v-xl-up: $spacer-x)),
      ));

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: $spacer-y-sm;
        bottom: $spacer-y-sm;
        width: 1px;
        background-color: $header-light;
        @include responsive-properties((
            (display, (v-lg-down: none)),
        ));
      }

      > ul {
        flex-wrap: nowrap;

        ul {
          display: none;
        }

        > li {
          > a {
            display: block;
            text-transform: uppercase;
            font-family: $font-family-barlow-condensed;
            font-weight: $font-weight-bold;
            line-height: $line-height-xs;
            padding: $spacer-x-xs;
            white-space: nowrap;
            color: $header-dark;
            @include responsive-properties((
                (font-size, (v-xxl-up: $font-size-md)),
            ));

            @media (min-width: $header-breakpoint) {
              color: $header-light;
            }

            @include hover {
              color: rgba($header-dark, 0.8);

              @media (min-width: $header-breakpoint) {
                color: rgba($header-light, 0.8);
              }
            }
          }
        }
      }
    }

    .nav-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: $header-nav-collapse-padding-x / -1;
      padding: $header-nav-collapse-padding-y $header-nav-collapse-padding-x;
      height: $header-nav-collapse-height;

      @media (min-width: $header-breakpoint) {
        display: none;
      }

      i {
        display: block;
        position: relative;
        width: $header-nav-collapse-bar-width;
        height: $header-nav-collapse-bar-height;
        @include page-style(background-color);
        @include transition($transition-base);

        &::before,
        &::after {
          content: '';
          width: $header-nav-collapse-bar-width;
          height: $header-nav-collapse-bar-height;
          display: block;
          position: absolute;
          backface-visibility: hidden;
          @include page-style(background-color);
          @include transition(transform $transition-base-duration $transition-base-timing);
        }

        &::before {
          @include translateY($header-nav-collapse-bar-height + $header-nav-collapse-bar-margin);
        }

        &::after {
          @include translateY(($header-nav-collapse-bar-height + $header-nav-collapse-bar-margin) / -1);
        }
      }

      @include hover {
        i {
          opacity: 0.8;
        }
      }

      .dropdown-nav-active & {
        i {
          background-color: transparent !important;

          &::before {
            transform: translateY(0) rotate(45deg);
          }

          &::after {
            transform: translateY(0) rotate(-45deg);
          }
        }
      }
    }
  }

  .header-dropdown-wrap {
    position: fixed;
    z-index: $zindex-fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    background-color: $header-light;
    background-clip: padding-box;
    border-style: solid;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include transition($transition-base);
    @include responsive-properties((
        (border-top-width, $header-offset-y),
        (border-bottom-width, $header-offset-y),
        (border-left-width, $header-offset-x),
        (border-right-width, $header-offset-x),
        (padding-top, $header-height),
    ));

    @media (min-width: $header-breakpoint) {
      display: none;
    }

    .dropdown-nav-active & {
      opacity: 1;
      visibility: visible;
    }

    .header-dropdown {
      width: 100%;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

    .header-dropdown-inner {
      padding: $spacer-y-lg $spacer-x;
    }

    .nav-header-dropdown {
      > ul {
        flex-direction: column;

        ul {
          display: none;
        }

        > li {
          margin: $spacer-y-xs 0;

          > a {
            display: inline-block;
            text-transform: uppercase;
            font-family: $font-family-barlow-condensed;
            font-weight: $font-weight-bold;
            color: $header-dark;
            padding: $spacer-y-xs $spacer-x-sm;
            line-height: $line-height-xs;
            font-size: $h4-font-size;

            @include hover-focus-active {
              color: rgba($header-dark, 0.8);
            }
          }

          &.active {
            > a {
              color: $header-light;
              @include page-style(background-color);
            }
          }
        }
      }
    }

    .header-dropdown-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: $spacer-y-xl 0 0;
      @include list-unstyled();

      li {
        + li {
          margin-left: $spacer-x-sm;
        }

        a {
          display: flex;
          color: $header-dark;
          font-size: $h3-font-size;
          padding: $spacer-x-xs;

          @include hover {
            color: rgba($header-dark, 0.8);
          }
        }
      }
    }
  }
}
