.layout-title {
  @include responsive-properties((
      (font-size, $l-title),
  ));
}

.layout-sub-title {
  font-weight: $font-weight-medium;
  @include responsive-properties((
      (font-size, $l-sub-title),
  ));
}

.layout-text {
  @include responsive-properties((
      (font-size, $l-text),
  ));
}
