.post-navigation {
  .nav-single {
    ul {
      display: flex;
      justify-content: center;
      margin: 0 ($spacer-x-sm / -1);

      li {
        padding: 0 $spacer-x-sm;

        a {
          @include media-breakpoint-up(xl) {
            @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
          }
        }
      }
    }
  }
}
