@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html,
body {
  font-size: $font-size-root;
  position: relative;

  &.dropdown-nav-active {
    overflow: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch !important;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  &.no-scroll {
    overflow-y: hidden !important;
  }
}

.wrap-outer {
  width: 100%;
  min-height: 100vh;
  background-color: $wrap-bg;
  position: relative;
  display: flex;
  flex-direction: column;

  @include only-ie() {
    display: block;
  }
}

.wrap {
  flex: 1 0 auto;
  overflow: hidden;
}

.wrap-inner {
  overflow: visible;
}

.container,
.container-fluid {
  @include responsive-properties((
      (padding-left, $container-padding),
      (padding-right, $container-padding),
  ));
}

.container-conditional {
  box-sizing: content-box;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  @include make-container-max-widths($container-c-max-widths);
  @include responsive-properties((
      (padding-left, $container-c-padding),
      (padding-right, $container-c-padding),
  ));
}

.container-split {
  @include make-container();
  @include make-container-max-widths($container-s-max-widths);
  @include responsive-properties((
      (padding-left, $container-s-padding),
      (padding-right, $container-s-padding),
      (margin-left, (v-md-up: 0)),
      (margin-right, (v-md-up: 0)),
  ));
}

//:target::before {
//  content: '';
//  display: block;
//  @include responsive-properties((
//      (height, $header-height),
//      (margin-top, (
//        v: map-get($header-height, v) / -1,
//        v-md-up: map-get($header-height, v-md-up) / -1,
//      )),
//  ));
//}
