.alert {
  text-align: center;
  font-weight: $font-weight-regular;
  font-size: $font-size-md;
}

@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant($value, $value, $white);
  }
}
