.btn {
  color: $white;
  position: relative;
  white-space: $btn-white-space;
  letter-spacing: $btn-letter-spacing;
  cursor: $btn-cursor;
  text-transform: $btn-text-transform;
  font-size: $btn-font-size;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  margin-right: $btn-arrow-width;
  text-align: $btn-text-align;

  &::after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: ($btn-arrow-width - 1) / -1;
    padding-right: $btn-arrow-width;
    background-color: inherit;
    clip-path: polygon(1px 0, 100% 50%, 1px 100%, 0 100%, 0 0);
  }

  @include only-ie() {
    margin-right: 0 !important;

    &::after {
      display: none !important;
    }
  }
}

.btn-reversed {
  margin-right: 0;
  margin-left: $btn-arrow-width;

  &::after {
    right: auto;
    left: ($btn-arrow-width - 1) / -1;
    padding-right: 0;
    padding-left: $btn-arrow-width;
    clip-path: polygon(calc(100% - 1px) 0, 100% 0, 100% 100%, calc(100% - 1px) 100%, 0 50%);
  }
}

.btn-no-arrow {
  margin-right: 0;

  &::after {
    display: none;
  }
}

.btn-sm {
  font-weight: $btn-font-weight-sm;
  font-size: $btn-font-size-sm;
  margin-right: $btn-arrow-width-sm;

  &::after {
    right: ($btn-arrow-width-sm - 1) / -1;
    padding-right: $btn-arrow-width-sm;
  }
}

.btn-lg {
  font-weight: $btn-font-weight-lg;
  font-size: $btn-font-size-lg;
  margin-right: $btn-arrow-width-lg;

  &::after {
    right: ($btn-arrow-width-lg - 1) / -1;
    padding-right: $btn-arrow-width-lg;
  }
}

.btn-link {
  text-transform: none;
  white-space: normal;
  text-align: left;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

.btn-load {
  position: relative;

  span {
    opacity: 1;
    @include transition(opacity $btn-transition-duration $btn-transition-timing);
  }

  &::before {
    font-family: $theme-icon-font-family;
    content: '\e90a';
    opacity: 0;
    position: absolute;
    line-height: 1;
    top: 50%;
    left: 50%;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    height: $font-size-base;
    width: $font-size-base;
    margin-left: $font-size-base / -2;
    margin-top: $font-size-base / -2;
    animation: spin 1s linear infinite;
    @include transition(opacity $btn-transition-duration $btn-transition-timing);
  }

  &.loading {
    span {
      opacity: 0;
    }

    &::before {
      opacity: 1;
    }
  }

  &.btn-sm {
    &::before {
      font-size: $font-size-sm;
      height: $font-size-sm;
      width: $font-size-sm;
      margin-left: $font-size-sm / -2;
      margin-top: $font-size-sm / -2;
    }
  }

  &.btn-lg {
    &::before {
      font-size: $font-size-lg;
      height: $font-size-lg;
      width: $font-size-lg;
      margin-left: $font-size-lg / -2;
      margin-top: $font-size-lg / -2;
    }
  }
}

.btn-ns {
  @each $color, $value in $page-style-colors {
    .style-#{$color} & {
      @include button-variant($value, $value);
    }
  }
}

@each $color, $value in $page-style-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

.btn-white {
  color: $darker;
  background-color: $white;

  @include hover-focus-active {
    @include page-style(color);
  }

  .style-gray & {
    @include hover-focus-active {
      color: lighten(map-get($page-style-colors, 'gray'), 15%);
    }
  }

  &.active {
    color: $white !important;
    cursor: default !important;
    @include page-style(background-color);
  }
}

// Inline Buttons Group
.btn-troop {
  margin: 0 ($spacer-x-xs / -1) ($spacer-y-sm / -1);
  @include list-unstyled();

  li {
    display: inline-block;
    margin: 0 $spacer-x-xs $spacer-y-sm;
  }
}
