.slick {
  position: relative;

  &-track,
  &-list,
  &-slide,
  &-cloned {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &-slide {
    outline: none !important;
  }

  &-arrow {
    cursor: pointer;
    background: transparent;
    text-decoration: none;
    border: 0;
    padding: 0;
    outline: none !important;
    box-shadow: none !important;
    display: flex !important;
    visibility: visible;
    opacity: 1;
    @include transition($btn-transition);
  }

  &-dots {
    margin: 0;
    padding: 0;
    display: flex !important;

    li {
      cursor: pointer;
      display: block;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      opacity: 0.4;
      background-color: $white;
      @include transition($btn-transition);

      .slick-dots-ns & {
        @include page-style('background-color');
      }

      + li {
        margin-left: $spacer-x-xs;
      }

      @include hover {
        opacity: 0.6;
      }

      button {
        display: none;
      }

      &.slick-active {
        cursor: default;
        opacity: 1;
      }
    }
  }
}
