.hotspots-container {
  .hotspots-interaction {
    margin: 0;
  }
}

.qtip {
  .qtip-content {
    padding: $spacer-y $spacer-x;

    .hotspot-info {
      .hotspot-title {
        text-align: left;
        font-size: $font-size-md;
        font-weight: $font-weight-regular;
      }

      .hotspot-content {
        font-size: $font-size-base;
        @include remove-last-p-margin();
      }
    }
  }

  .qtip-titlebar {
    display: none;
  }

  .qtip-close {
    display: none;
  }
}
