.form-control,
.custom-select {
  padding: $input-padding-y $input-padding-x;
  font-size: $input-font-size;
  border: $input-border-width solid $input-border-color;
  border-radius: $input-border-radius;
  line-height: $input-line-height;
  appearance: none;
  @include transition($input-transition);
}

.form-control {
  &::placeholder {
    font-family: $input-placeholder-font-family;
    font-style: $input-placeholder-font-style;
  }

  &:disabled,
  &[readonly] {
    color: $input-disabled-color;
    border-color: $input-disabled-border-color;
    box-shadow: none;
  }
}

.custom-select {
  height: auto;
  padding-right: $input-padding-x + $custom-select-indicator-padding;
  background-position: right $input-padding-x center;

  &.has-placeholder {
    color: $input-placeholder-color;
    font-style: $input-placeholder-font-style;
    font-family: $input-placeholder-font-family;
  }
}

.form-control-sm,
.custom-select-sm {
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $input-font-size-sm;
  line-height: $input-line-height-sm;
  border-radius: $input-border-radius-sm;
}

.custom-select-sm {
  padding-right: $input-padding-x-sm + $custom-select-indicator-padding;
  background-position: right $input-padding-x-sm center;
}

.form-control-lg,
.custom-select-lg {
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $input-font-size-lg;
  line-height: $input-line-height-lg;
  border-radius: $input-border-radius-lg;
}

.custom-select-lg {
  padding-right: $input-padding-x-lg + $custom-select-indicator-padding;
  background-position: right $input-padding-x-lg center;
}

.custom-select-wrap {
  position: relative;

  &::after {
    pointer-events: none;
    font-family: $theme-icon-font-family;
    content: '\e90a';
    opacity: 0;
    position: absolute;
    top: 50%;
    right: $custom-select-indicator-padding;
    line-height: 1;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    height: $font-size-base;
    width: $font-size-base;
    margin-top: $font-size-base / -2;
    margin-right: $font-size-base / -4;
    animation: spin 1s linear infinite;
    @include transition(opacity $btn-transition-duration $btn-transition-timing);
  }

  &.loading {
    &::after {
      opacity: 1;
    }

    .custom-select {
      background-image: $custom-select-indicator-transparent;
    }
  }
}

textarea {
  resize: vertical;
  height: ($input-padding-y * 2) + (get-text-height($input-font-size, $input-line-height) * $textarea-rows);

  &.form-control-sm {
    height: ($input-padding-y-sm * 2) + (get-text-height($input-font-size-sm, $input-line-height-sm) * $textarea-rows);
  }

  &.form-control-lg {
    height: ($input-padding-y-lg * 2) + (get-text-height($input-font-size-lg, $input-line-height-lg) * $textarea-rows);
  }
}

.custom-control {
  .custom-control-label {
    cursor: pointer;
    padding: 1px 0 0 0;
    font-weight: $font-weight-medium;
    text-transform: none;

    &::before,
    &::after {
      @include transition(all $input-transition-duration $input-transition-timing);
    }
  }

  @each $color, $value in $page-style-colors {
    .style-#{$color} & {
      input:active ~ label,
      input:checked ~ label {
        &::before {
          background-color: $value !important;
        }
      }
    }
  }
}

label {
  color: $label-color;
  font-family: $label-font-family;
  font-weight: $label-font-weight;
  font-size: $label-font-size;
  text-transform: $label-text-transform;
  padding: $label-padding;
}

// Gravity
.gform_wrapper {
  @include clearfix();

  .gform_heading {
    @include responsive-properties((
        (padding-bottom, $padding-sm),
    ));

    .gform_title {
      text-align: center;
      margin-bottom: $spacer-y;
      @include responsive-properties((
          (font-size, $l-title),
      ));
    }

    .gform_description {
      text-align: center;
      display: block;
      @include responsive-properties((
          (font-size, $l-text),
      ));
    }
  }

  .gform_body {
    @include clearfix();
  }

  .gform_fields {
    margin-bottom: 0;
    @include make-row();
    @include list-unstyled();
  }

  .gfield {
    @include make-col-ready();

    // General
    &.clearfix,
    &.gform_hidden {
      padding: 0 !important;
      margin: 0 !important;
    }

    // Label
    .gfield_label {
      color: $label-color;

      .gfield_required {
        display: none;
      }
    }

    &.hidden_label {
      .gfield_label {
        display: none;
      }
    }

    // Select
    &.has-placeholder {
      .ginput_container_select {
        select {
          color: $input-placeholder-color;
          font-family: $input-placeholder-font-family;
          font-style: $input-placeholder-font-style;
        }
      }
    }

    // Checkbox, Radio
    .ginput_container_radio,
    .ginput_container_checkbox {
      > ul {
        margin-bottom: 0;
        @include list-unstyled();
      }
    }

    // Datepicker
    .ginput_container_date {
      input {
        padding-right: $input-padding-x + $custom-date-indicator-padding;
        background-position: right $input-padding-x center;
        background-size: $custom-date-bg-size;
        background-image: $custom-date-indicator;
        background-repeat: no-repeat;

        &.form-control-sm {
          padding-right: $input-padding-x-sm + $custom-date-indicator-padding;
        }

        &.form-control-lg {
          padding-right: $input-padding-x-lg + $custom-date-indicator-padding;
        }
      }

      img {
        display: none;
      }
    }
  }

  .gform_footer {
    text-align: left;
    @include clearfix;

    &.button-right {
      text-align: right;
    }

    &.button-center {
      margin: 0 auto;
      display: table;
    }

    .gform_ajax_spinner {
      display: none !important;
    }
  }

  .validation_message {
    display: inline-block;
    margin: ($spacer-y-xs / 2) 0 0;
    padding: ($spacer-y-xs / 3) $spacer-x-xs;
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    border-radius: $border-radius-sm;
    @include alert-variant($danger, $danger, $white);
  }

  .validation_error {
    @extend .alert;
    @include alert-variant($danger, $danger, $white);
  }

  .gform_validation_container {
    display: none !important;
  }
}

.gform_confirmation_message {
  @extend .alert;
  @include alert-variant($success, $success, $white);
}
