a {
  outline: none !important;
  @include transition($btn-transition);
}

button {
  cursor: $btn-cursor;
  outline: none !important;
}

.lead {
  color: $lead-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include page-style(color);
}

b,
strong {
  font-weight: $font-weight-bold;
}
