.rlpm {
  @include remove-last-p-margin();
}

// Padding
@each $padding, $value in $paddings {
  .pt-#{$padding} {
    @include responsive-properties((
        (padding-top, $value),
    ));
  }

  .pb-#{$padding} {
    @include responsive-properties((
        (padding-bottom, $value),
    ));
  }
}

// Background
.bg-cover {
  @include bg-cover();
}

.bg-ns {
  @include page-style(background-color);
}

.bg-ns-light {
  @include page-style-light(background-color);
}

.bg-ns-medium {
  @include page-style-medium(background-color);
}

// Video
.video-cover {
  overflow: hidden;
  position: relative;

  video {
    object-fit: cover;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    @include translateXY(-50%, -50%);
  }
}

// Img Cover
.img-cover {
  display: block;
  position: relative;
  overflow: hidden;

  &.img-cover-calculating {
    img {
      min-width: 101%;
      width: 101%;
      height: auto;
    }
  }

  &.img-cover-active-width {
    img {
      min-width: 101%;
      min-height: 0;
      width: 101%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translateXY(-50%, -50%);
    }
  }

  &.img-cover-active-height {
    img {
      min-width: 0;
      min-height: 101%;
      width: auto;
      height: 101%;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translateXY(-50%, -50%);
    }
  }
}

// Position
.pos-abs-full {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// Parallax
.parallax-it {
  position: relative;

  img {
    position: absolute;
    object-fit: cover;
    /* stylelint-disable */
    font-family: 'object-fit: cover;';
    /* stylelint-enable */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
