.wpc-overflow-hidden {
  overflow: hidden;
}

.wpc-clearfix:before,
.wpc-clearfix:after {
  content: " ";
  display: table;
}

.wpc-clearfix:after {
  clear: both;
}

@media (min-width: 480px) and (max-width: 767px) {
  .wpc-clearfix-xs:before,
  .wpc-clearfix-xs:after {
    content: " ";
    display: table;
  }

  .wpc-clearfix-xs:after {
    clear: both;
  }
}

.wpc-browser-support-modal {
  height: 100%;
  width: 100%;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  z-index: 999999;
  overflow: visible;
  overflow-y: auto;
}

.wpc-browser-support-modal .wpc-container {
  max-width: 1000px;
  padding: 20px 20px 40px;
  margin: 20px auto;
  position: relative;
  background: #fff;
  border-collapse: collapse;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.8);
  text-align: center;
  z-index: 2;
}

@media (min-width: 480px) {
  .wpc-browser-support-modal .wpc-container {
    padding: 20px 40px 40px;
  }
}

@media (min-width: 768px) {
  .wpc-browser-support-modal .wpc-container {
    margin: 40px auto;
    padding: 20px 75px 40px;
  }
}

@media (min-width: 992px) {
  .wpc-browser-support-modal .wpc-container {
    margin: 80px auto;
    padding: 20px 100px 40px;
  }
}

.wpc-browser-support-modal .wpc-container .wpc-modal-title {
  font-weight: normal;
  font-size: 36px;
  margin: 0 0 20px;
}

.wpc-browser-support-modal .wpc-container .wpc-modal-headline {
  font-size: 28px;
  margin: 0 0 20px;
}

.wpc-browser-support-modal .wpc-container .wpc-modal-text {
  margin: 0 0 20px;
}

.wpc-browser-support-modal .wpc-container .wpc-browsers {
  margin: 20px 0;
}

@media (min-width: 768px) {
  .wpc-browser-support-modal .wpc-container .wpc-browsers {
    margin: 40px 0;
  }
}

.wpc-browser-support-modal .wpc-container .wpc-browsers .wpc-browser {
  width: 100%;
  padding: 10px;
  float: left;
  display: block;
  position: relative;
  cursor: pointer;
  color: inherit;
  text-align: center;
}

@media (min-width: 480px) {
  .wpc-browser-support-modal .wpc-container .wpc-browsers .wpc-browser {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .wpc-browser-support-modal .wpc-container .wpc-browsers .wpc-browser {
    width: 20%;
  }
}

.wpc-browser-support-modal .wpc-container .wpc-browsers .wpc-browser .wpc-browser-logo {
  min-height: 120px;
}

.wpc-browser-support-modal .wpc-container .wpc-browsers .wpc-browser .wpc-browser-logo img {
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
}

.wpc-browser-support-modal .wpc-container .wpc-browsers .wpc-browser .wpc-browser-logo h4 {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}

.wpc-browser-support-modal .wpc-container .wpc-buttons {
  text-align: center;
  margin-top: -4px;
}

.wpc-browser-support-modal .wpc-container .wpc-buttons .wpc-btn {
  display: inline-block;
  margin-bottom: 4px;
}

.wpc-browser-support-modal .wpc-container .wpc-buttons .wpc-btn span {
  padding: 10px 16px;
  display: block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid transparent;
  white-space: nowrap;
}

.wpc-browser-support-modal .wpc-container .wpc-buttons .wpc-btn:hover span {
  background-color: inherit !important;
}
