.wpc-cookie-warning {
  position: fixed;
  display: table;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999998;
  padding: 12px 0;
}

.wpc-cookie-warning .wpc-container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1140px;
}

.wpc-cookie-warning .wpc-warning-text {
  margin-bottom: 0;
  width: 100%;
  display: table-cell;
  font-size: 14px;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .wpc-cookie-warning .wpc-warning-text {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .wpc-cookie-warning .wpc-warning-text {
    font-size: 16px;
  }
}

.wpc-cookie-warning .wpc-warning-text .wpc-info-link:hover span {
  color: inherit !important;
}

.wpc-cookie-warning .wpc-buttons {
  width: 100%;
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
}

.wpc-cookie-warning .wpc-buttons .wpc-btn span {
  padding: 5px 16px;
  display: block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid transparent;
  white-space: nowrap;
}

.wpc-cookie-warning .wpc-buttons .wpc-btn:hover span {
  background-color: inherit !important;
}
