.split-item.building {
  .s-build {
    &-wrap {
      display: flex;
      flex-direction: column;
    }

    &-sub-title {
      font-weight: $font-weight-bold;
    }

    &-lead {
      font-weight: $font-weight-semi-bold;
      font-style: italic;
      @include page-style(color);
    }

    &-details-wrap {
      text-align: right;
    }

    &-details {
      @include responsive-properties((
          (padding, (
            v: $spacer-y-md $spacer-x-md,
            v-xl-up: $spacer-y-lg $spacer-x-lg
          )),
      ));

      .s-build-button-wrap {
        display: flex;
        justify-content: flex-end;
        @include responsive-properties((
            (margin-right, (
              v: $spacer-x-md / -1,
              v-xl-up: $spacer-x-lg / -1
            )),
        ));
      }
    }

    &-details-title {
      color: $white;
      text-align: left;
      font-weight: $font-weight-medium;
    }

    &-details-list {
      margin-bottom: 0;
      text-align: left;
      @include list-unstyled();

      li {
        color: $white;
        font-weight: $font-weight-semi-bold;

        a {
          color: $white;

          @include hover {
            color: rgba($white, 0.8);
          }
        }

        span {
          &:first-of-type {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
