.split-item.content_blocks {
  .split-item-inner {
    align-items: center;
  }

  .s-cbs {
    &-content {
      + .s-cbs-content {
        @include responsive-properties((
            (margin-top, (
              v: $spacer-y-md,
              v-xl-up: $spacer-y-lg
            )),
        ));
      }
    }

    &-text {
      a {
        color: $body-color;

        @include hover {
          color: darken($body-color, 10);
        }
      }
    }
  }

  // Vertical Position
  &.vertical-position-top {
    .split-item-inner {
      align-items: flex-start;
    }
  }

  &.vertical-position-bottom {
    .split-item-inner {
      align-items: flex-end;
    }
  }

  // Content blocks offset
  &.content-blocks-offset-small {
    .s-cbs {
      &-content {
        + .s-cbs-content {
          margin-top: $spacer-y;
        }
      }
    }
  }

  // Background
  &.has-bg {
    .s-cbs {
      &-title,
      &.sub-title,
      &-text {
        color: $white !important;
      }
    }
  }
}
