.split-item.page_link {
  .split-item-inner {
    position: relative;
    overflow: hidden;

    .s-pl {
      &-image {
        backface-visibility: hidden;
        @include transition($transition-scale);

        img {
          backface-visibility: hidden;
        }
      }

      &-overlay {
        position: absolute;
        z-index: 2;
        bottom: 10px;
        top: 10px;
        left: 0;

        img {
          max-height: 100%;
          height: 100%;
          width: auto;
        }
      }

      &-inner {
        position: relative;
        z-index: 3;
        min-height: inherit;
        display: flex;
        align-items: flex-end;
      }

      &-button {
        position: relative;
        display: inline-block;
        font-weight: $headings-font-weight;
        text-transform: none;
        text-align: left;
        padding-left: 0;
        padding-right: $spacer-x-md;
        @include responsive-properties((
            (font-size, $l-title),
        ));

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          width: 50vw;
          background-color: inherit;
          @include translateX(-90%);
        }

        &-inner {
          position: relative;
          z-index: 1;
        }
      }
    }

    @include hover() {
      .s-pl-image {
        transform: scale(1.1);
      }
    }
  }
}
