.split-item.slider {
  .s-s-slide {
    display: flex;
    flex-direction: row;

    &-inner {
      display: flex;
      align-items: flex-end;
      position: relative;
      height: 100%;
      width: 100%;
    }

    &-content {
      position: relative;
      z-index: 2;
      width: 100%;
      color: $white;
      background-color: rgba($black, 0.7);
      margin-top: $spacer-y-xxl;

      &.style-light {
        color: $body-color;
        background-color: rgba($lightest, 0.8);
      }
    }

    &-title {
      color: inherit;
    }

    &-text {
      color: inherit;

      a {
        text-decoration: underline;
        color: inherit;

        @include hover {
          opacity: 0.8;
        }
      }
    }
  }

  // Slick Slider
  .slick {
    &-slider {
      width: 100%;
      flex-grow: 1;
    }

    &-list,
    &-track,
    &-slide {
      height: 100%;
    }

    &-dots {
      position: absolute;
      @include responsive-properties((
          (right, $container-c-padding),
          (top, (
            v: $spacer-y-sm,
            v-lg-up: $spacer-y
          )),
      ));
    }
  }
}
